@import "tailwindcss";
@import "tailwindcss/preflight";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-top-right-rounded {
  border-top-right-radius: 50%;
}

.create-div {
  margin-top: 10rem;
}

.create-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: -3rem;
}

.create-top h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.create-top p {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.sign-form {
  background-color: #9ffff9;
  border-radius: 20px;
  padding: 50px;
  width: 500px;
  margin: 0 auto;
}

.socials-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.input-group {
  margin: 1rem auto;
}

.input-group input {
  background-color: white;
  border-radius: 20px;
  margin-top: .5rem;
  padding: .5rem;
}

.create-socials {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.link {
  color: blue;
}

.bottom-create {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
